<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>用户中心</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.path %>/cdn/element-ui/2.4.0/theme-chalk/index.css">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.path %>/img/main/favicon.ico">
    <meta name="importmap-type" content="systemjs-importmap">
    <script type="systemjs-importmap">
		{
		  "imports": {
			"child": "http://localhost:8081/app.js",
			"single-spa": "https://cdnjs.cloudflare.com/ajax/libs/single-spa/4.3.7/system/single-spa.min.js",
			"vue": "https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js",
			"vue-router": "https://cdn.jsdelivr.net/npm/vue-router@3.0.7/dist/vue-router.min.js"
		  }
		}
	  </script>
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/single-spa/4.3.7/system/single-spa.min.js" as="script" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/system.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/amd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/named-exports.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/named-register.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.1.1/extras/use-default.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- <script src="<%= htmlWebpackPlugin.options.path %>/cdn/vue/2.5.2/vue.min.js" charset="utf-8"></script>
    <script src="<%= htmlWebpackPlugin.options.path %>/cdn/vuex/2.4.1/vuex.min.js" charset="utf-8"></script>
    <script src="<%= htmlWebpackPlugin.options.path %>/cdn/vue-router/3.0.1/vue-router.js" charset="utf-8"></script>
    <script src="<%= htmlWebpackPlugin.options.path %>/cdn/element-ui/2.13.2/index.js" charset="utf-8"></script>
    <script src="<%= htmlWebpackPlugin.options.path %>/cdn/axios/1.0.0/axios.min.js" charset="utf-8"></script>
    <script src="<%= htmlWebpackPlugin.options.path %>/cdn/aes/aes.js" charset="utf-8"></script> -->
  </body>
</html>
